@font-face {
    font-family: 'iranYekan';
    src: url(IRANYekanMobileRegular.ttf);
    font_weight: normal;
}
@font-face {
    font-family: 'iranYekan';
    src: url(IRANYekanMobileBold.ttf);
    font_weight: normal;
}